/* Stili generali */
body {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #000000, #4c4c4c); /* Sfondo gradiente nero-grigio */
  color: white;
}

header {
  background-color: #333;
  color: white;
  padding: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

main {
  padding: 3rem;
  text-align: center;
}

h1, h2 {
  color: #ffffff;
}

/* Sezione audio */
#audio-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2rem;
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

#audioPlayer {
  margin-top: 1.5rem;
  width: 100%;
}

/* Stile per il form */
input[type="file"], button {
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #0066cc;
  color: white;
  margin: 1rem 0;
  cursor: pointer;
}

button {
  background-color: #00cc66;
}

input[type="file"]:hover, button:hover {
  background-color: #005bb5;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media queries per schermi più piccoli */
@media (max-width: 768px) {
  header {
    font-size: 2rem;
    padding: 1rem;
  }

  main {
    padding: 1.5rem;
  }

  #audio-section {
    padding: 1rem;
    margin: 1rem;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  input[type="file"], button {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  footer {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  header {
    font-size: 1.5rem;
  }

  h1, h2 {
    font-size: 1.2rem;
  }

  input[type="file"], button {
    font-size: 1rem;
    padding: 0.6rem;
  }

  #audio-section {
    padding: 0.5rem;
  }

  footer {
    font-size: 0.8rem;
  }
}